body {
    margin: 0;
    padding: 0;
    background-color: #f6f3f38b;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .quote-container {
    text-align: center;
    font-size: 1.5rem;
    color: #212121;
    padding: 40px;
    max-width: 800px;
    border-bottom: 1px solid #e0e0e0;
  }
  